/* Generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(252, 217, 204);
}

header {
    background-color: rgb(204, 40, 40);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header ul {
    display: flex;
    
}

ul, ol {
    list-style: none;
    gap: 20px;
}


h1 {
    color: black;
    margin: 10px 10px;
    display: inline-block;
    width: 60%;
    
}

h2 {
    color: black;
    margin: 10px 10px;
    padding: 15px;
    background-color: rgba(163, 0, 0, 0.537);
    border-radius: 15px;
    background: linear-gradient(to right, rgba(0, 128, 0, 0.650) 0% 30%, rgba(255, 255, 255, 0.650) 36% 63%, rgba(255, 0, 0, 0.650) 69% 100%);
    
    
}

h3 {
    font-style: bold;
    padding: 5px;
    border-radius: 8px;
    
}

p {
    color: gray;
    margin: 20px 20px;
    font-size:20px;
    font-family: Verdana;
}

a {
    text-decoration: none;
}

/* Clases */

.portada {
    height: 100vh;
    background-image: url(../img/ferrari-f50.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.portada-logo{
    width: 200px;
}

.portada-titulo {
    font-size: 30px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-item {
    font-size: 24px;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
    width: 100%;
   
}

@media (min-width:1025px) {
    .portada {
        height: 500px;
    }
}

@media (max-width: 1024px) {

    .portada {
        height: 300px;
    }

    .grid {
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: 25%;
    }

}



.ferrari-portada {
    margin-left: 0px;
    width: 400px;
    box-shadow: 0px 0px 30px 10px;
}

.ferrari-portada-2 {
    margin-left: 0px;
    width: 400px;
    box-shadow: 0px 0px 30px 10px;
}

.ferrari-portada-flex {
    display: flex;
    justify-content: center;
}

.lista-nav {
    font-size: 24px;
}

.img-ferrari {
    display: flex;
    align-items: center;
}

/* seccion Autos */

.contenedor-fotos-auto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-seccion {
    display: flex;
    justify-content: flex-start;
}

.foto-auto {
    width: 800px;
    display: inline-block;
}

@media (max-width: 1000px) {

    .foto-auto {
        width: 500px;
    }
}

@media (max-width: 500px) {

    .foto-auto {
        width: 300px;
    }
}

/* Fin seccion autos */

.image {
    width: 500px;
    margin: 0px 50px 0px 50px;
}

.image-display {
    display: flex;
}

.image-display-2 {
    display: flex;
}

.image-historia {
    width: 300px;
    object-fit: cover;
    margin: 15px;
}

.image-historia-2{
    width: 300px;
    object-fit: cover;
    margin: 15px;
}
.logo {
    width: 50px;
    margin-left:20px;
    margin-top: 20px;
}



/* Ultimo section antes del footer */

.productos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    border: 5px solid black;
    
}

@media (max-width: 1024px) {


    .productos {
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: 25%;
    }

}

/* fin del section */


.thumbnail {
    width: 250px;
    box-shadow: 0px 0px 20px 5px;
}

.articulo {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

@media (max-width: 724px) {
    
.articulo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

}

section article h3 {
    padding: 0px 20px;
}

section article ul li {
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton {
    margin: 10px 100px;
    background-color: lightcoral;
}


/* formulario */


.form {
    border-style: solid;
    border: 2px;
    border-color: black;

}

.form-container {
    display: flex;
    justify-content: center;
    margin: 15px;
}

/* footer */

.titulo-footer {
    background-color: rgb(252, 217, 204);
    margin: 0;
    padding: 10px;
}

.footer-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    
}

@media (max-width: 630px) {

    .footer-display{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.facebook-img {
    width: 20px;
}

.twitter-img {
    width: 20px;
}

.instagram-img {
    width: 20px;
}

.youtube-img {
    width: 20px;
}


.footer-nav-display {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(204, 40, 40);
    height: 100px;
    align-items: center;
    font-size: 24px;
    padding: 30px;
}

/* actualidad */

table {
    border: 1 solid black;
    display: flex;
    justify-content: center;
    margin: 40px;
}

/* Autos */

.imagenes-auto {
    width: 800px;
}

.ferrari-1 {
    display: inline-block;
}