.contenedor-fotos-auto {
    display: flex;
    flex-direction: column;
    align-items: center;

    .ferrariAuto {
        display: flex;

        .foto-auto {
            width: 100%;
            box-shadow: 0px 0px 30px 10px;
        }
    }

    .foto-autoLaFerrari {
        width: 500px;
        box-shadow: 0px 0px 30px 10px;
        height: 250px;
    }
}

@media (min-width: 1001px) {

    .contenedor-fotos-auto .ferrariAuto .foto-auto {
        width: 400px;
    }
}

@media (max-width: 1000px) {

    .ferrariAuto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

}

@media (max-width: 500px) {

    .contenedor-fotos-auto .ferrariAuto .foto-auto {
        width: 200px;
    }

    .contenedor-fotos-auto .ferrariAuto .foto-autoLaFerrari {
        width: 200px;
        height: 100px;
    }

    p {
        font-size: 14px;
    }
}